/*------------Nieuwe lettertypes------------*/
@font-face {
    font-family: Rounded;
    src: url(downloads/Rounded_Elegance.ttf)
}

@font-face {
    font-family: Flame;
    src: url(downloads/Inner-Mounting-Flame.ttf)
}

@font-face {
    font-family: Roboto;
    src: url(downloads/Roboto-Regular.ttf)
}



/*------------Styling van de paginadelen------------*/

body {
    margin: 0;
    background-color: #0026cc;
    color: white;
}

header {
    width: 100%;
    background-image: url(images/Achtergrond.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 15.625em;
}

footer {
    margin-left: 2em;
    margin-bottom: 1.5em;
}



/*------------Styling van de koppen------------*/

h1 {
    font-family: Rounded;
    font-size: 1.875em;
}

h2 {
    font-family: flame;
    font-size: 1.25em;
    color: black;
}

.normaal {
    font-family: Rounded;
    font-size: 1.5625em;
    margin-top: 3.125em;
    color: white;
}



/*------------Styling van de navigatie------------*/

nav {
    width: 100%;
    margin: auto;
    text-transform: uppercase;
    font-family: Rounded;
    font-size: 0.875em;
    letter-spacing: -.5px;
    background-color: #0026cc;
    margin-top: 0em;
}

nav ul {
    padding: 0.9375em 0em 0.3125em 0em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
}

nav li {
    min-width: 3, 125em;
    padding: 0.625em 0.3125em 0.625em 0em;
    margin: 0% 1% 0% 1%;
}

#logo {
    width: 1.25em;
    padding: 0em 0em 0em 0em;
    margin: 0% 0% 0% 0%;
}

nav li a {
    color: white;
    padding: 0.625em;
    text-decoration: none;
}

nav li a:hover,
nav li a.current {
    color: #3fa535;
}



/*------------Styling van het filteren------------*/

#filteren {
    background-color: #4cd066;
    width: 97, 5%;
    margin-top: 0em;
    padding: 0.75em 1em;
    display: block;
    margin-left: 0em
}

button {
    border: none;
    background-color: #4cd066;
    font-size: 0.9375em;
    color: white;
    margin-left: 1.25em;
}

button:hover {
    color: #0026cc;
}

/*https://www.w3schools.com/css/tryit.asp?filename=trycss_form_search_anim*/
#myInput {
    background-image: url('images/zoek.png');
    background-position: 0.375em 0.25em;
    background-repeat: no-repeat;
    background-size: 1.125em 1.125em;
    width: 30%;
    font-size: 0.75em;
    padding: 0.3125em 1.25em 0.3125em 2.5em;
    border: 0.0625em solid #ddd;
    margin-left: 0.625em;
}

#zoekknop {
    transition: background-color 1.5s ease;
    background-color: #3fa535;
    border: none;
    color: white;
    font-family: Rounded;
    padding: 0.5em 0.625em 0.4375em 0.625em;
}

#zoekknop:hover {
    background-color: hotpink;
    transform: rotate(180deg);
    transition: 1s ease-in;
}

#filteropdrachten {
    opacity: 0;
    transition: 0.3s;
    position: absolute;
}

/*https://css-tricks.com/video-screencasts/150-hey-designers-know-one-thing-javascript-recommend/*/
#filteropdrachten.yay {
    border: 0.125em solid gray;
    padding: 2rem;
    color: black;
    background-color: white;
    margin: 0.625em;
    opacity: 1;
}

/*https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/
label,
#filter,
h4, h3 {
    display: block;
    position: relative;
    margin-bottom: 0.75em;
    font-size: 1.375em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Rounded;
    font-size: 1.125em;
}

.filteropdracht {
    padding-left: 2.1875em;
}

label input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

span {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25em;
    width: 1.25em;
    background-color: #eee;
}

label:hover input ~ span {
    background-color: #ccc;
}

label input:checked ~ span {
    background-color: #0026cc;
}

span:after {
    content: "";
    position: absolute;
    display: none;
}

label input:checked ~ span:after {
    display: block;
}

label span:after {
    left: 0.5625em;
    top: 0.3125em;
    width: 0.3125em;
    height: 0.625em;
    border: solid white;
    border-width: 0em 0.1875em 0.1875em 0em;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



/*------------Styling van de nieuwsberichten------------*/

section {
    margin-left: 1.25em;
    margin-top: 3.125em;
    display: grid;
    grid-gap: .5em;
    grid-template-columns: 1fr;
}

@keyframes slide-up {
    from {
        padding-top: 100px;
        opacity: .25;
        line-height: 80px;
    }

    to {
        padding-top: 0;
        opacity: 1;
        line-height: 25px;
    }
}

section {
    animation: slide-up 2s;
}

figure {
    width: 20em;
    float: left;
    margin: 0.3125em;
    height: 19.375em;
    border 0.625em;
    background-color: #4cd066;
    display: block;
    padding: 0.5625em;
    text-align: left;
    -webkit-box-shadow: inset 0em 0.0625em 0.3125em 0.5em rgba(0, 0, 0, 0.75);
}

figure:hover {
    background-color: green;
}

figure img {
    width: 19.6875em;
    height: 9.375em;
    border: 0.0625em solid;
}

figcaption {
    padding-left: 1.25em;
}

.detail,
article {
    margin-right: 0.625em;
    margin-left: 1.25em;
}

a {
    text-decoration: none;
    color: white;
}



/*------------Styling van de nieuwsbutton------------*/

.nieuws-button {
    font-family: Rounded;
    font-size: 0.9375em;
    position: block;
    margin-left: 40%;
    margin-right: 50%;
    margin-top: 3.125em;
    background-color: white;
    color: #1D4496;
    width: 10.625em;
    height: 1.875em;
}

.nieuws-button:hover {
    background-color: #0026cc;
    color: white;
}



/* ------------Styling van contact formulier------------*/

input[type=text],
.datum,
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 11px;
}

input[type=submit] {
    background-color: #0026cc;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}

input[type=submit]:hover {
    background-color: darkred;
}

form {
    border-radius: 5px;
    background-color: #3fa535;
    padding: 20px;
    padding-bottom: 45px;
    margin-top: 40px;
    display: block;
    width: 80%;
}

label {
    text-align: left;
    display: block;
}

textarea {
    height: 120px;
}



/*------------Styling van de overgebleven elementen------------*/

#afbeelding-detail {
    height: 9.375em;
    margin-left: 1.25em;
    margin-right: 0.3125em;
}

.socialmedia {
    width: 3em;
    margin-right: 0.5em;
}

hr {
    margin-top: 3em;
    width: 85%;
}



/*------------Mediaqueries------------*/

@media (min-width:37.5em) {
    #afbeelding-detail {
        margin-left: 0.3125em;
        height: 15.625em;
    }

    article {
        margin-right: 2.5em;
        margin-left: 2.5em;
    }

    .detail {
        margin-left: 2.5em;
    }

    section {
        margin-left: 9.375em;
    }

    figure {
        width: 26.4375em;
        height: 21.875em;
    }

    figure img {
        width: 26.25em;
        height: 13.75em;
    }
}

@media (min-width:59.375em) {
    #afbeelding-detail {
        margin-left: 0.3125em;
        height: 15.625em;
    }

    article {
        margin-right: 5em;
        margin-left: 5em;
    }

    nav li {
        min-width: 5em;
        padding: 1.25em 0.625em 1.25em 0em;
    }

    header {
        width: 100%;
        height: 21.875em;
    }

    #myInput {
        width: 20%;
    }

    #filteropdrachten.yay {
        top: 25em;
    }

}

@media (min-width:65.625em) {
    section {
        grid-template-columns: 1fr 1fr;
        column-gap: 0.625em;
        margin-right: auto;
        margin-left: 2.5em;
    }

    section,
    .detail {
        margin-left: 5em;
    }

}

@media (min-width:75em) {

    section,
    .detail {
        margin-left: 8.125em;
    }
}


@media (min-width:84.375em) {
    section {
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 1.25em;
    }

    #afbeelding-detail {
        margin-left: 0.3125em;
        height: 25em;
    }

    .detail,
    article {
        margin-right: 13.75em;
        margin-left: 9.5em;
    }

    .detail {
        grid-template-columns: 1fr 1fr;
    }

    nav li {
        min-width: 6.25em;
        padding: 1.25em 0.625em 1.25em 0em;
    }

    nav {
        font-size: 1em;
    }

    header {
        width: 100%;
        height: 28.125em;
    }

    #filteropdrachten.yay {
        top: 31.25em;
    }
}
